
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
	.icon{
		text-decoration: none;
		color: white;
	}
	a:link{
			text-decoration: none;

		}
		a:visited{
			text-decoration: none;	
		}
		a:hover{
			text-decoration: none;
		}

</style>
<footer class="footer">Dukaan
<br><span style="font-size: 20px;" class="glyphicon glyphicon-copyright-mark"></span><span style="font-size: 20px;">lms/2019</span>
<br>
<span style="font-size: 20px;"><a href="#" class="fa fa-facebook icon"> ShabazKhan</a></span>
<span style="font-size: 20px;"><a href="#" class="fa fa-instagram icon"> ambur_shabaz</a></span>
</footer>